<h1 class="title is-2">Browse our collection of {{ tracks.length }} Tracks</h1>

<h2 class="subtitle is-2">For your delight</h2>

<div class="column is-full box has-text-left">

  <p>Click to sort by name:</p>
   <button ng-click="orderByMe('track.name')">Name</button>

</div>

<div class="container columns is-multiline">

  <div class="column is-half box has-text-centered" ng-repeat="track in tracks | orderBy:myOrderBy">
    <a ui-sref="tracksShow({ id: track._id })">
      <h2 class="title is-3">{{ track.name }}</h2>

  <ng-soundcloud soundcloud-id="{{track.soundcloudId}}"></ng-soundcloud>

      <div class="columns">
        <div class="column">
        <!-- <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="{{ track.soundcloudEmbedUrl }}"></iframe> -->
          <img style="max-height: 300px,  " ng-src="{{ track.trackCoverUrl }}" alt="{{ track.a }}">
        </div>
      </div>
    </a>
</div>

</div>
