<h1 class="title is-2">Browse our collection of {{ albums.length }} Albums</h1>
<h2 class="subtitle is-2">For your delight</h2>

<div class="container columns is-multiline">

  <div class="column is-half box has-text-centered" ng-repeat="album in albums">
    <a ui-sref="albumsShow({ id: album._id })">
      <h2 class="title is-3">{{ album.name }}</h2>
      <div class="columns">
        <div class="column">
          <img style="max-height: 300px" ng-src="{{ album.albumCoverUrl }}" alt="{{ album.name }}">
        </div>
      </div>
    </a>
  </div>
  <div class="column is-half box has-text-centered" >
    <div class="columns">

      <div class="column">

        <div class="column has-text-centered">
          <img style="max-height: 300px" src="https://image.flaticon.com/icons/svg/96/96463.svg" alt="add track Icon">
        </div>
      <div class="column">
        <a class="button is-info" ui-sref="albumsNew">Add +</a>
      </div>
    </div>
    </div>
  </div>
</div>
