<h1 class="title is-1">About the legend</h1>
<div class="container">
<div class="columns">
  <div class="column has-text-centered is-2">
    <figure class="image is-128x128">
      <img class="is-rounded" src="/assets/Frank-Sinatra.jpg">
    </figure>
  </div>
  <div class="column is-10">
<p>Francis Albert Sinatra (December 12, 1915 – May 14, 1998) was an American singer, actor, and producer who was one of the most popular and influential musical artists of the 20th century. He is one of the best-selling music artists of all time, having sold more than 150 million records worldwide</p>
  </div>
  </div>
</div>
