<p>Welcome! Please log in. (not got an account <a ui-sref="/register">Sign up!</a>)</p>
<form ng-submit="login()">
  <div class="field">
    <label class="label" for="email">Email</label>
    <input ng-model="user.email" class='input' type="email" name="email" value="">
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <input ng-model="user.password" class='input' type="password" name="password" value="">
  </div>
<button class="button is-info">Log in</button>
</form>
